{% extends "layouts/blog.html" %}
{% block content %}

<div class="doc-wrapper">

    <!--<p>-->
    <!--Perhaps the question of "free will" in the sense of how to find or create the mental fortitude-->
    <!--to make the decisions we should is more urgent than the question of-->
    <!--what causes those decisions in "Me".-->
    <!--</p>-->





    <!--There is a popular way of understanding the world, as a collection of particles interacting based-->
    <!--on physical laws, which leads many to the conclusion that there is no such thing as "free will",-->
    <!--and that they're kind of just passively falling out from the big bang.-->
    <!--</p>-->
    <!--<p>-->
    <!--Perhaps the question of how to make the decisions we should is more urgent than the question of-->
    <!--what causes those decisions ("free will" also wouldn't be the craziest thing).-->
    <!--</p>-->
    <p style="margin-top: 0px;">
        a passage from <a href="https://www.amazon.com/Poetics-Space-Gaston-Bachelard/dp/0807064734/ref=sr_1_1?s=books&ie=UTF8&qid=1475429713&sr=1-1&keywords=poetics+of+space">
        The Poetics Of Space</a>:
    </p>

    <p>

    </p>
    <!--<p>-->
    <!--To this kind of escapist determinism which abandons "living" in favor of an explanation,-->
    <!--I recommend reading <a href="https://www.amazon.com/Poetics-Space-Gaston-Bachelard/dp/0807064734/ref=sr_1_1?s=books&ie=UTF8&qid=1475429713&sr=1-1&keywords=poetics+of+space">-->
    <!--The Poetics Of Space</a> to revisit the delta in between "the past"-->
    <!--and "the future" and all the beautiful moments of becoming in between:-->
    <!--</p>-->

    <img class="doc-image" src="/static/img/blog/shoemaker_makes_the_shoe.jpg"/>

    <br><br>
    <br><br>
    <div>
        and here is a translation from <a href="http://forum.wordreference.com/threads/ne-psuchor-ultra-uterum.2642471/">a forum</a>:
    </div>
    <br>
    <img class="doc-image" src="/static/img/blog/translation.png"/>

    <br><br>
    <br>


    <p>
        in the chapter this passage is from Bachelard is generally arguing that good poetry involves novel creation
        (what he calls sublimation)
        &mdash; that in the poem there is something there which was not there before
    </p>

    <p>
        even beyond the realm of poetry, sublimation can be seen as a form of free will
    </p>

    <p>
        the psychoanalyst on the other hand analyzes the poem in terms of the poet's past... what happened to them as a child and how that caused them to write the poem etc.
    </p>

    <p>
        Bachelard's latin quote here is pretty much just a zinger, he's saying if the psychoanalyst
        is interested in
        the original causes of things, they should just stay in the womb
    </p>

    <!--<img style="margin-top: 30px;" class="doc-image" src="/static/img/blog/living.png"/>-->


    <!--<p style="margin-top: 30px;">-->

    <!--There is a popular way of understanding the world, as a collection of particles interacting based-->
    <!--on physical laws, which leads many to the conclusion that there is no such thing as "free will",-->
    <!--something many people have got hung up about in textbooks, ethical manifestos,-->
    <!--and diners at 3am.-->
    <!--</p>-->
    <!--<p>-->
    <!--Beyond the realm of poetry, I read Bachelard's quote as applying just as much-->
    <!--to the determinist who doesn't believe they are free &mdash;-->
    <!--also worth considering that bird migrations and Kanye West's VMA speech are-->
    <!--more unbelievable than the idea that we might sometimes be free.-->
    <!--</p>-->

</div>


{% endblock %}