body.blog-body {
  padding: 20px;
  font-family: 'Source Sans Pro', sans-serif; }
  @media screen and (max-width: 550px) {
    body.blog-body {
      padding-left: 0px; } }
  body.blog-body .doc-image {
    width: 100%; }
  body.blog-body .blog-footer {
    width: 94%;
    border-top: 1px solid gray;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px; }
    @media screen and (max-width: 550px) {
      body.blog-body .blog-footer {
        padding-left: 5%; } }
    body.blog-body .blog-footer a {
      color: black; }
  body.blog-body .sidebar {
    float: left;
    width: 80px;
    margin-left: 40px; }
    @media screen and (max-width: 550px) {
      body.blog-body .sidebar {
        display: none; } }
  body.blog-body .main-section {
    float: left;
    margin-left: 100px;
    max-width: 800px;
    width: 60%; }
    @media screen and (max-width: 550px) {
      body.blog-body .main-section {
        margin-left: 0px;
        padding-left: 5%;
        width: 95%; } }
  body.blog-body .page-wrapper:after {
    content: "";
    clear: both;
    display: table; }
  body.blog-body .page-wrapper {
    margin-left: 0px;
    margin-top: 0px; }
  body.blog-body .blog-header {
    margin-left: 40px;
    margin-bottom: 40px; }
    @media screen and (max-width: 550px) {
      body.blog-body .blog-header {
        margin-left: 5%; } }
    body.blog-body .blog-header a {
      color: black; }
  body.blog-body a.sidelink {
    width: 100%;
    display: block;
    color: black; }
  body.blog-body .blog-post {
    margin-bottom: 100px; }
  body.blog-body .blog-post-title {
    margin-top: 0px; }
  body.blog-body img {
    width: 400px;
    max-width: 100%; }
  body.blog-body a {
    /*color: black;*/
    color: #6801c1;
    text-decoration: none; }
  body.blog-body h2 a {
    color: #00119c; }
  body.blog-body .navlink {
    float: left;
    margin-right: 20px;
    margin-bottom: 10px; }
  body.blog-body .navlink a {
    color: black; }
